@page
@model MainProject.Pages.BookingModel
@{
    ViewData["Title"] = "Booking";
    @if (Model.Error)
    {
        <div>
            <p>
                Please check your credentials.
            </p>
        </div>
    }

<head>
    <meta charset="utf-8">
    <title>Hotelier - Hotel HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/hero/hero-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                <h1 class="display-3 mb-3 animated slideInDown" style="color:white;">Booking</h1>
                    
                </div>
            </div>
        </div>
        <!-- Page Header End -->


<!-- Booking Start -->

   
        <!-- Booking End -->
    <!-- Booking Start -->
    <div class="container-xxl py-5" >
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <img src="~/img/room/room-b3.jpg">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <div class="date" id="date2" data-target-input="nearest">
                                                <input type="date" class="form-control datetimepicker-input" name="startDate"
                                                       placeholder="Check in" data-target="#date2" data-toggle="datetimepicker" required />
                                        </div>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="form-floating">
                                         <div class="date" id="date2" data-target-input="nearest">
                                            <input type="date" class="form-control datetimepicker-input" name="endDate"
                                                       placeholder="Check Out" data-target="#date2" data-toggle="datetimepicker" required />
                                         </div>
                                     </div>
                                </div>

                             <!--Guest Info-->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="guestID"
                                               placeholder="Guest ID" required />
                                        <label for="name">Guest Name</label>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                                <input type="text" class="form-control" id="name" placeholder="Guest Name">
                                                <label for="name">Guest Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                                <input type="text" class="form-control" id="phoneNumber" placeholder="Guest PhoneNumber">
                                                <label for= "phoneNumber" > Guest PhoneNumber </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                                <input type="text" class="form-control" id="name" placeholder="Guest Nationality">
                                                <label for="name">Guest Nationality</label>
                                     
                                    </div>
                                </div>
                                <!--Room Info-->
                                <div class="col-md-6">
                                    <div class="form-floating">

                                        <select class="form-select" id="select2">
                                            <option value="1">Regular</option>
                                            <option value="2">Suite</option>
                                        </select>
                                        <label for="select2">Room Type</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="select2">
                                            <option value="1">Single</option>
                                            <option value="2">Double</option>
                                            <option value="3">Triple</option>
                                        </select>
                                        <label for="select2">Room Category</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <select class="form-select" id="select3">
                                            <option value="1">Room 1</option>
                                            <option value="2">Room 2</option>
                                            <option value="3">Room 3</option>
                                        </select>
                                        <label for="select3">Select A Room</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    @*<input type="submit" style="background-color:#d4af7a; color= white;" value="Book New" class="btn btn-primary w-100" />*@
                                    <input type="submit" style="background-color:#d4af7a; color:white" value="Book Now" class="btn btn-primary w-100" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->
        <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
}