@page "{id}"
@model MainProject.Pages.EditFacilitiesModel

@{
    ViewData["Title"] = "EditFacilities";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
}

@if (Model.Error)
{
    <p>Please check your input.</p>
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(@Url.Content("~/img/hero/hero-1.jpg"));>
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Edit Facility</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="FacilityName"
                                       placeholder="Facility Name" data-target="#date1" value="@Model.FacilityName" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="startDate"
                                       placeholder="Start Date" data-target="#date2" value="@Model.st" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="endDate"
                                       placeholder="End Date" data-target="#date2" value="@Model.end" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="file" id="file" name="image" placeholder="Employeeimage" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="date" id="date1" data-target-input="nearest">
                        <!--<input type="submit" class="btn btn-primary w-100" />-->
                        <input type="submit" style="background-color:#d4af7a;" value="Save" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>