@page "{id}"

@model MainProject.Pages.EventViewModel
@{
    //ViewData["Title"] = "EventView";
    //Layout = null;

}
@{
    if (Model.idEvent==1)
    {
      <h2>Conferences</h2>  
      
    }
    else if (Model.idEvent==2)
    {
        <h2>Weddings</h2>
    }

    else if (Model.idEvent == 3)
    {
        <h2>Concerts</h2>
    }
    else
    {
        <h2>All Events</h2>
    }
}

@*<h1>@Model.eventViewId</h1>*@
<table class="table table-striped table-dark">
    <thead>

        <tr>
            <th scope="col">Event Name </th>
            <th scope="col">Event Start</th>
            <th scope="col">Event End</th>
           
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.eventList.Count(); i++)
        {

            <tr>
                <th scope="row">@Model.eventList[i]</th>
              @*  <td>  @Model.eventList[i+1]</td>
            <td>@Model.eventList[i+2]</td>*@

            </tr>
        }


    </tbody>
</table>