@page
@model MainProject.Pages.EventsModel
@{

    ViewData["Title"] = "Events";
    ViewBag.UserType = HttpContext.Session.GetString("UserType");

}

<!-- Page Header Start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>HarmoniStay For Hotel Management</h1>
                    <p>
                        Here is the best hotel management site, including management for staff, event, facilities and room reservations.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
    </div>
</section>

<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 mb-3 animated slideInDown" style="color:#d4af7a;">Event</h1>
        </div>
    </div>
</div>
    <!-- Page Header End -->
<!-- Home Room Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">

        <a href="/EventView/All Events" class="primary-btn" style="color:black  ; font-size: 20px;"> View All Events </a>
        
        <br>  <br> <br>
        
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/Conference.jpg">
                        <div class="hr-text">
                            <h3>Conference Meeting</h3>
                            <br>
                            <a  href="#form" class="primary-btn">Add</a>
                            <br> <br>
                            <form method ="post" class="cont" >
                                <a id="1" class="primary-btn" href="/EventView/Conference">View</a>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/Wedding.jpg">
                        <div class="hr-text">
                            <h3>Wedding</h3>

                            <a href="#form" class="primary-btn">Add</a>
                            <br> <br>
                            <form method ="post" class="cont" >
                                <a id="2" class="primary-btn" href="/EventView/Wedding">View</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="hp-room-item set-bg" data-setbg="/img/back.jpg">
                        <div class="hr-text">
                            <h3>Concert</h3>

                            <a href="#form" class="primary-btn">Add</a>
                            <br> <br>
                            <form method ="post" class="cont" >
                                <a id ="3" class="primary-btn"  href="/EventView/Concert" >View</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/room/room-b3.jpg">
                        <div class="hr-text">
                            <h3>Other</h3>

                            <a  href="#form" class="primary-btn">Add</a>

                            <br> <br>
                            <form method="post" class="cont">
                                <a id="2" class="primary-btn" href="/EventView/Other">View</a>
                            </form>
                           @* <a  class="primary-btn" asp-page="/EventView">View</a>*@ 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
@if (Model.Error)
{
    <p style="font-family:verdana ;color:black; font-size:20px; margin-left:70px"> @Model.Message.</p>
}
<form id="form" method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ">  Event Name:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="eventName"
                                       placeholder="Event Name" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="Etype" class="primary-btn" style="color:black; margin-left:20px "> Event Type:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="eventType"
                                       placeholder="Event Type" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2">
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black "> Start Date :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" class="form-control datetimepicker-input" name="startDate"
                                       placeholder="Start Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ;margin-left:20px">  Start Time :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="startDate"
                                       placeholder="start Hour" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2">
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ">  End Date :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" class="form-control datetimepicker-input" name="endDate"
                                       placeholder="End Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black ; margin-left:20px "> End Time :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="endDate"
                                       placeholder="start Hour" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2" >
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black "> Facility :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <select class="form-control" id="Facility" name="Facility" style="background-color:white" >
                                    @foreach (var fac in Model.Facilities)
                                    {                                      
                                        <option value="@fac.FacilityName">@fac.FacilityName</option>                                       
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="primary-btn" style="color:black "> Event Fee :</label>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="number" class="form-control datetimepicker-input" name="EventFee"
                                   placeholder="EventFee" required />
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="col-md-2">
                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <div class="date" id="date1"  data-target-input="nearest">
                        <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white;" value="Add Event" class="btn btn-primary w-100"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Hero Section End -->

