@page
@model MainProject.Pages.FacilitiesModel
@{
    ViewData["Title"] = "Facilities";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-top-right",
        "progressBar": true,
        "timeOut": "5000",
        "extendedTimeOut": "2000"
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>
@if (Model.Error == "true")
{
    <script type="text/javascript">
        toastr.error("ooops...check your inputs");
    </script>
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(@Url.Content("~/img/hero/hero-1.jpg"));">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Facilities</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Facilities Start -->

<form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s" enctype="multipart/form-data">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="FacilityName"
                                       placeholder="Facility Name" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="startDate"
                                       placeholder="Start Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="time" class="form-control datetimepicker-input" name="endDate"
                                       placeholder="End Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="file" class="form-control datetimepicker-input" name="Photo"
                                       placeholder="Choose a Photo" data-target="#date1" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="date" id="date1" data-target-input="nearest">
                        <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color:white;" value="Add Facility" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="article" id="Article">
    <div class="container">

        @for(int i = 0; i < Model.Facilitiesnames.Count(); i++)
        {
            <div class="box">
                <a href="RemoveFacilities/@Model.IDSfacilities[i]" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:black">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </a>
                <a href="EditFacilities/@Model.IDSfacilities[i]" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </a>
                <div class="content">
                    <h3>@Model.Facilitiesnames[i]</h3>
                    @if (Model.Facilitiesphotos[i] != null)
                    {
                        <img src=@Model.Facilitiesphotos[i]>
                    }
                    else
                    {
                        <p>N / A</p>
                    }


                </div>
                <div class="info">
                    
                    <p>@Model.Timeoffacilities[i]</p>
                    <p>@Model.Timeoffacilities[i+1]</p>                  
                </div>
            </div>
        }
       
       

    </div>

</div>
     
<!-- Facilities End--> 