@page
@model MainProject.Pages.FinanceModel
@{
	ViewData["Title"] = "Finance";
}


<div class="container">
	@foreach (var query in Model.Queries)
	{
		@if (query.Key.Contains("Change"))
		{
			<p>@query.Key : @query.Value%</p>
		}
		else
		{
			<p>@query.Key : @query.Value</p>
		}
		
	}
</div>