@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.UserType = HttpContext.Session.GetString("UserType");
}
<h1>@ViewData["Title"]</h1>
<br />

<p>This system was made for C# and Software Engineering project Faculty of Computers and Information Assiut University, Egypt.</p>
<br />
<p>Team members:</p>
<p><h4>Pavly Samuel</h4></p>
<p><h4>Aya Abdullatif</h4></p>
<p><h4>John Ashraf</h4></p>
<p><h4>Jessica Ayman</h4></p>
