@page
@model MainProject.Pages.RegisterModel
@{
}


@if (Model.Error)
{
	<div>
		<p>
			Please check your credentials.
		</p>
	</div>
}

<form method="post">
	<input type="text" name="userId" placeholder="User ID" required />
	<input type="password" name="password" placeholder="Password" required />
	<input type="submit">
</form>