@page
@model MainProject.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms";
    ViewBag.UserId = HttpContext.Session.GetString("UserId");
}

@if (Model.Error)
{
    <p>Please check your input.</p>
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/hero/hero-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Booking Start -->
    <form method="post" class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="roomId"
                                           placeholder="Room Number" data-target="#date1" data-toggle="datetimepicker" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="date" class="form-control datetimepicker-input" name="startDate"
                                           placeholder="Start Date" data-target="#date2" data-toggle="datetimepicker" required />
                                </div>
                            </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" class="form-control datetimepicker-input" name="endDate"
                                       placeholder="End Date" data-target="#date2" data-toggle="datetimepicker" required />
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="date" id="date1" data-target-input="nearest">
                        <input type="submit" style="background-color:#d4af7a; border-color:#d4af7a; color: white;" value="Submit" class="btn btn-primary w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

@if (Model.Message is not null)
{
    <div width="250" style="overflow-x: scroll;">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    @for (DateTime dt = Model.StartDate; dt <= Model.EndDate; dt = dt.AddDays(1))
                    {
                        <th>@dt.ToString("dd/MM/yyyy")</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.Days)
                {
                    <tr>
                        <th>@room.Key</th>
                        @foreach (bool occupied in room.Value)
                        {
                            if (occupied)
                            {
                                <td style="background-color: red"></td>
                            }
                            else
                            {
                                <td style="background-color: green"></td>
                            }
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
<!-- Booking End -->



